<nav id="api-menu" class="sidebar js-remember-scroll-position">
    <ul>
        <% collections.apiPages.filter(page => page.url !== '/api/').forEach((apiPage) => { %>
        <li class="<%= '/' + path + '/' === apiPage.url ? 'active' : '' %>">
            <a href="<%= (relative(apiPage.url) || '.') + '/' %>"><%= apiPage.title %></a>
        </li>
        <% }) %>
    </ul>
</nav>
