<% var hasSidebar = true; %>
<%- include('_header.ejs', { sidebar: true }) %>
<section id="api">
    <%- include('_api-menu.ejs') %>
    <div class="main" tabindex="-1">
        <div class="content">
            <%- contents %>
        </div>
    </div>
</section>
<%- include('_footer.ejs') %>
