<% var hasSidebar = true; %>
<% include('_header.ejs') %>
<section id="assertions">
    <% include('_assertions-menu.ejs') %>
    <div class="main" tabindex="-1">
        <div class="content">
            <% if (declarations.length > 0) { %>
                <h1><%= title %></h1>
                <ul class="declarations">
                <% declarations.forEach(function (declaration) { %>
                    <li><%= declaration %></li>
                <% }); %>
                </ul>
            <% } %>
            <%- contents %>
        </div>
    </div>
</section>
<% include('_footer.ejs') %>
