<%- include('_header.ejs', { sidebar: false }) %>
<div class="main" tabindex="-1">
    <div class="content">
        <%- contents %>
    </div>
    <% if (typeof repository !== 'undefined') { %>
    <a class="github-fork-ribbon" href="<%-repository%>" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    <% } %>
</div>
<%- include('_footer.ejs') %>
